<div class="container">
  <h2 class="my-3">Ajouter un etudiant</h2>
  <form class="form" (ngSubmit)="onSubmit()">

      <div class="form-group">
          <label for="matricule">Matricule</label>
          <input type="text" required [(ngModel)]="etudiant.matricule" name="matricule" placeholder="Matricule.." class="form-control">
      </div>

      <div class="form-group">
        <label for="cin">Carte d'identité nationale</label>
        <input type="text" required [(ngModel)]="etudiant.cin" name="cin" placeholder="Carte d'identité nationale.." class="form-control">
    </div>

      <div class="form-group">
        <label for="passeport">Passeport</label>
        <input type="text" required [(ngModel)]="etudiant.passeport" name="passeport" placeholder="Passeport" class="form-control">
    </div>

    <div class="form-group">
      <label for="prenomFr">PrenomFr</label>
      <input type="text" required [(ngModel)]="etudiant.prenomFr" name="prenomFr" placeholder="PrenomFr" class="form-control">
  </div>

  <div class="form-group">
    <label for="nomFr">NomFr</label>
    <input type="text" required [(ngModel)]="etudiant.nomFr" name="nomFr" placeholder="NomFr" class="form-control">
</div>
<div class="form-group">
  <label for="prenomAr">PrenomAr</label>
  <input type="text" required [(ngModel)]="etudiant.prenomAr" name="prenomAr" placeholder="PrenomAr" class="form-control">
</div>
<div class="form-group">
  <label for="nomAr">NomAr</label>
  <input type="text" required [(ngModel)]="etudiant.nomAr" name="nomAr" placeholder="NomAr" class="form-control">
</div>
<div class="form-group">
  <label for="nationalite">Nationalite</label>
  <input type="text" required [(ngModel)]="etudiant.nationnalite" name="nationalite" placeholder="Nationalite" class="form-control">
</div>

<div class="form-group">
  <label for="paysOrigine">PaysOrigine</label>
  <input type="text" required [(ngModel)]="etudiant.paysOrigine" name="paysOrigine" placeholder="PaysOrigine" class="form-control">
</div>
<div class="form-group">
  <label for="dateNaissance">DateNaissance</label>
  <input type="date" required [(ngModel)]="etudiant.dateNaissance" name="dateNaissance" placeholder="DateNaissance" class="form-control">
</div>
<div class="form-group">
  <label for="lieuNaissanceFr">LieuNaissanceFr</label>
  <input type="text" required [(ngModel)]="etudiant.lieuNaissanceFr" name="lieuNaissanceFr" placeholder="lieuNaissanceFr.." class="form-control">
</div>

<div class="form-group">
  <label for="lieuNaissanceAr">LieuNaissanceAr</label>
  <input type="text" required [(ngModel)]="etudiant.lieuNaissanceAr" name="lieuNaissanceAr" placeholder="lieuNaissanceAr.." class="form-control">
</div>
<div class="form-group">
  <label for="adresseFr">AdresseFr</label>
  <input type="text" required [(ngModel)]="etudiant.adresseFr" name="adresseFr" placeholder="AdresseFr.." class="form-control">
</div>

<div class="form-group">
  <label for="adresseAr">AdresseAr</label>
  <input type="text" required [(ngModel)]="etudiant.adresseAr" name="adresseAr" placeholder="AdresseAr.." class="form-control">
</div>
<div class="form-group">
  <label for="telephone1">Telephone1</label>
  <input type="text" required [(ngModel)]="etudiant.telephone1" name="telephone1" placeholder="Telephone1.." class="form-control">
</div>

<div class="form-group">
  <label for="telephone2">Telephone2</label>
  <input type="text" required [(ngModel)]="etudiant.telephone2" name="telephone1" placeholder="Telephone2.." class="form-control">
</div>
<div class="form-group">
  <label for="telephone2">Telephone3</label>
  <input type="text" required [(ngModel)]="etudiant.telephone3" name="telephone3" placeholder="Telephone3.." class="form-control">
</div>
<div class="form-group">
  <label for="email">Email</label>
  <input type="text" required [(ngModel)]="etudiant.email" name="email" placeholder="Email.." class="form-control">
</div>

<div class="form-group">
  <label for="autreInfo1">AutreInfo1</label>
  <input type="text" required [(ngModel)]="etudiant.autreInfo1" name="autreInfo1" placeholder="AutreInfo1.." class="form-control">
</div>
<div class="form-group">
  <label for="autreInfo2">AutreInfo2</label>
  <input type="text" required [(ngModel)]="etudiant.autreInfo2" name="autreInfo2" placeholder="AutreInfo2.." class="form-control">
</div>

<div class="form-group">
  <label for="autreInfo3">AutreInfo3</label>
  <input type="text" required [(ngModel)]="etudiant.autreInfo3" name="autreInfo3" placeholder="AutreInfo3.." class="form-control">
</div>


<div class="form-group">
  <label for="gouvernorat">Gouvernorat</label>
  <input type="text" required [(ngModel)]="etudiant.gouvernorat" name="gouvernorat" placeholder="Gouvernorat.." class="form-control">
</div>

<div class="form-group">
  <label for="etat_civil ">Etat_civil </label>
  <input type="text" required [(ngModel)]="etudiant.etat_civil " name="etat_civil " placeholder="Etat_civil .." class="form-control">
</div>
<div class="form-group">
  <label for="paysBac">Pays Bac </label>
  <input type="text" required [(ngModel)]="etudiant.paysBac " name="paysBac " placeholder="Etat_civil .." class="form-control">
</div>

<div class="form-group">
  <label for="typeBac">Type Bac </label>
  <input type="text" required [(ngModel)]="etudiant.typeBac " name="typeBac" placeholder="Type Bac.." class="form-control">
</div>

<div class="form-group">
  <label for="anneeBac "> AnneeBac</label>
  <input type="text" required [(ngModel)]="etudiant.anneeBac " name="anneeBac" placeholder=" AnneeBac.." class="form-control">
</div>
<div class="form-group">
  <label for="moyenneBac"> Moyenne Bac</label>
  <input type="number" required [(ngModel)]="etudiant.moyenneBac " name="moyenneBac" placeholder=" moyenneBac.." class="form-control">
</div>
<div class="form-group">
  <label for="moyenneBac">Moyenne Bac</label>
  <input type="number" required [(ngModel)]="etudiant.moyenneBac " name="moyenneBac" placeholder=" moyenneBac.." class="form-control">
</div>
<div class="form-group">
  <label for="scoreBac ">Score Bac</label>
  <input type="number" required [(ngModel)]="etudiant.scoreBac " name="scoreBac" placeholder=" scoreBac.." class="form-control">
</div>
<div class="form-group">
  <label for=" sessionBac">Session Bac</label>
  <input type="text" required [(ngModel)]="etudiant.sessionBac " name="sessionBac" placeholder=" sessionBac.." class="form-control">
</div>

<div class="form-group">
  <label for="typePassageBac">Type Passage Bac</label>
  <input type="text" required [(ngModel)]="etudiant.typePassageBac" name="typePassageBac" placeholder="typePassageBac.." class="form-control">
</div>






      <div class="form-group">
          <button type="submit" class="btn btn-primary" >Ajouter</button>

      </div>
  </form>
</div>








