<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Topbar Search -->

  <td><img src="assets/images/banner_home.jpg" alt="enseignement superieur" width="1000" height="70"></td>
  <!-- Topbar Navbar -->


    <!-- Nav Item - User Information -->


        <button type="button" class="btn btn-outline-info" [routerLink]="['/login']" >Déconnecter</button>



</nav>
