<div class="container">
  <h2 class="my-3">Ajouter une unité d'enseignement</h2>
  <form class="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="libelleFr">LibelleFr</label>
          <input type="text" required [(ngModel)]="module.libelleFr" name="libelleFr" placeholder="LibelleFr.." class="form-control">
      </div>

      <div class="form-group">
        <label for="libelleAr">LibelleAr</label>
        <input type="text" required [(ngModel)]="module.libelleAr" name="libelleAr" placeholder="LibelleAr.." class="form-control">
    </div>

    <div class="form-group">
      <label for="credit">Credit</label>
      <input type="number" required [(ngModel)]="module.credit" name="credit" placeholder="Credit.." class="form-control">
  </div>
  <div class="form-group">
    <label for="coef">Coef</label>
    <input type="number" required [(ngModel)]="module.coef" name="credit" placeholder="Coef.." class="form-control">
</div>

<div class="form-group">
  <label for="semestre">Semestre</label>
  <input type="number" required [(ngModel)]="module.semestre" name="semestre" placeholder="Semestre.." class="form-control">
</div>

      <div class="form-group">
          <button type="submit" class="btn btn-primary">Ajouter</button>
      </div>
  </form>
</div>




