<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="float-right">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a  [routerLink]="['/login']" class="nav-link">S'identifier</a>
      </li>


    </ul>
  </div>
  <div
    class="rq0escxv l9j0dhe7 du4w35lb j83agx80 taijpn5t gs1a9yip owycx6da btwxx1t3 cddn0xzi"
  >
    <div
      class="rq0escxv l9j0dhe7 du4w35lb j83agx80 cbu4d94t d2edcug0 rj1gh0hx buofh1pr g5gj957u hpfvmrgz"
    >
      <div
        class="rq0escxv l9j0dhe7 du4w35lb j83agx80 taijpn5t gs1a9yip owycx6da btwxx1t3"
      >
        <div
          class="i09qtzwb rq0escxv n7fi1qx3 pmk7jnqg j9ispegn kr520xx4 ni8dbmo4 stjgntxs"
        >
          <div
            class="do00u71z l9j0dhe7 k4urcfbm"
            style="
              left: 50%;
              position: absolute;
              top: 0px;
              transform: translateX(-50%);
              padding-top: 50%;
            "
          >
            <div
              class="gs1a9yip ow4ym5g4 auili1gw j83agx80 cbu4d94t buofh1pr g5gj957u i1fnvgqd oygrvhab cxmmr5t8 hcukyx3x kvgmc6g5 tgvbjcpo hpfvmrgz qt6c0cv9 rz4wbd8a a8nywdso jb3vyjys du4w35lb i09qtzwb rq0escxv n7fi1qx3 pmk7jnqg j9ispegn kr520xx4"
            >
              <img
                alt=""
                class="i09qtzwb rq0escxv n7fi1qx3 pmk7jnqg j9ispegn kr520xx4 datstx6m k4urcfbm"
                src="https://scontent.ftun3-1.fna.fbcdn.net/v/t1.0-0/fb50/p160x160/97967215_3017271958327428_551599063527587840_n.png?_nc_cat=108&amp;_nc_sid=e3f864&amp;_nc_ohc=ZQWZNmW6rZoAX-_Bev8&amp;_nc_ht=scontent.ftun3-1.fna&amp;oh=087a32430af5bb33153cf6853a827a24&amp;oe=5EF803AB"
              />
            </div>
          </div>
          <div
            class="i09qtzwb rq0escxv n7fi1qx3 pmk7jnqg j9ispegn kr520xx4 jge66auo"
          ></div>
        </div>
        <div
          class="rq0escxv l9j0dhe7 du4w35lb o4feeg3o rj1gh0hx buofh1pr g5gj957u hpfvmrgz j83agx80 taijpn5t"
        >
          <div
            class="ni8dbmo4 stjgntxs l9j0dhe7 k4urcfbm uo3d90p7 l82x9zwi kipmrytf bti8j40k"
          >
            <a
              aria-label="Link to open page cover photo"
              class="oajrlxb2 g5ia77u1 qu0x051f esr5mh6w e9989ue4 r7d6kgcz rq0escxv nhd2j8a9 a8c37x1j p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso i1ao9s8h esuyzwwr f1sip0of lzcic4wl l9j0dhe7 abiwlrkh p8dawk7l"
              href="https://www.facebook.com/photo/?fbid=3017271954994095&amp;set=a.626351167419531"
              role="link"
              tabindex="0"
              ><div
                class="do00u71z l9j0dhe7 k4urcfbm ni8dbmo4 stjgntxs"
                style="padding-top: 37.037%;"
              >
                <div
                  class="gs1a9yip ow4ym5g4 auili1gw j83agx80 cbu4d94t buofh1pr g5gj957u i1fnvgqd oygrvhab cxmmr5t8 hcukyx3x kvgmc6g5 tgvbjcpo hpfvmrgz qt6c0cv9 rz4wbd8a a8nywdso jb3vyjys du4w35lb i09qtzwb rq0escxv n7fi1qx3 pmk7jnqg j9ispegn kr520xx4"
                >
                  <div
                    class="do00u71z l9j0dhe7 k4urcfbm ni8dbmo4 stjgntxs"
                    style="
                      left: 50%;
                      position: absolute;
                      top: 49.4131%;
                      transform: translate(-50%, -49.4131%);
                      padding-top: 50%;
                    "
                  >
                    <div
                      class="gs1a9yip ow4ym5g4 auili1gw j83agx80 cbu4d94t buofh1pr g5gj957u i1fnvgqd oygrvhab cxmmr5t8 hcukyx3x kvgmc6g5 tgvbjcpo hpfvmrgz qt6c0cv9 rz4wbd8a a8nywdso jb3vyjys du4w35lb i09qtzwb rq0escxv n7fi1qx3 pmk7jnqg j9ispegn kr520xx4"
                    >
                      <img
                        alt=""
                        class="i09qtzwb rq0escxv n7fi1qx3 pmk7jnqg j9ispegn kr520xx4 datstx6m k4urcfbm"
                        src="https://scontent.ftun3-1.fna.fbcdn.net/v/t1.0-9/97967215_3017271958327428_551599063527587840_n.png?_nc_cat=108&amp;_nc_sid=e3f864&amp;_nc_ohc=ZQWZNmW6rZoAX-_Bev8&amp;_nc_ht=scontent.ftun3-1.fna&amp;oh=1fc24f177708a18ebbab42e1e12ae70e&amp;oe=5EF8CBB5"
                      />
                    </div>
                  </div>
                </div></div
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="rq0escxv pfnyh3mw l9j0dhe7 hv4rvrfc dati1w0a"
    style="
      max-width: 100%;
      min-width: calc(100% - 32px);
      width: calc((940px - 100%) * 9999);
    "
  >
    <div class="k4urcfbm">
      <div
        class="rq0escxv l9j0dhe7 du4w35lb j83agx80 i1fnvgqd aovydwv3 lhclo0ds btwxx1t3 discj3wi dlv3wnog rl04r1d5 enqfppq2 muag1w35"
      >
        <div
          class="rq0escxv l9j0dhe7 du4w35lb d2edcug0 nqmvxvec ph5uu5jm b3onmgus e5nlhep0 ecm0bbzt"
        >
          <div class="aovydwv3 j83agx80 wkznzc2l dlu2gh78">
            <div
              class="b3onmgus e5nlhep0 ph5uu5jm ecm0bbzt spb7xbtv bkmhp75w emlxlaya s45kfl79 cwj9ozl2"
            >
              <a
                aria-label="Photo de profil de Ministère de
    l'Enseignement Supérieur et de la Recherche Scientifique"
                class="oajrlxb2 gs1a9yip g5ia77u1 mtkw9kbi tlpljxtp qensuy8j ppp5ayq2 goun2846 ccm00jje s44p3ltw mk2mc5f4 rt8b4zig n8ej3o3l agehan2d sk4xxmp2 rq0escxv nhd2j8a9 q9uorilb mg4g778l btwxx1t3 pfnyh3mw p7hjln8o kvgmc6g5 cxmmr5t8 oygrvhab hcukyx3x tgvbjcpo hpfvmrgz jb3vyjys rz4wbd8a qt6c0cv9 a8nywdso l9j0dhe7 i1ao9s8h esuyzwwr f1sip0of du4w35lb lzcic4wl abiwlrkh p8dawk7l oo9gr5id"
                href="https://www.facebook.com/photo/?fbid=1243484052372903&amp;set=a.356832701038047&amp;__tn__=%3C"
                role="link"
                tabindex="0"
                ><div class="q9uorilb l9j0dhe7 pzggbiyp du4w35lb">
                  <svg
                    class="pzggbiyp"
                    data-vc-ignore-dynamic="1"
                    role="none"
                    style="height: 132px; width: 132px;"
                  >
                    <mask id="jsc_c_yz"></mask>
                    <g mask="url(#jsc_c_yz)">
                      <image
                        x="0"
                        y="0"
                        height="50%"
                        preserveAspectRatio="xMidYMid slice"
                        width="50%"
                        xlink:href="https://scontent.ftun3-1.fna.fbcdn.net/v/t1.0-1/p148x148/16142281_1243484052372903_4507834856531015524_n.jpg?_nc_cat=1&amp;_nc_sid=1eb0c7&amp;_nc_ohc=TITEnW5j1CMAX_ywwYA&amp;_nc_ht=scontent.ftun3-1.fna&amp;_nc_tp=6&amp;oh=d4bf9f58459f3ee75ffbf299731e88f3&amp;oe=5EF6264F"
                        style="height: 132px; width: 132px;"
                      ></image>
                      <circle
                        class="mlqo0dh0 georvekb s6kb5r3f"
                        cx="66"
                        cy="66"
                        r="66"
                      ></circle>
                    </g>
                  </svg></div
              ></a>
            </div>
          </div>
        </div>

        <div
          class="rq0escxv l9j0dhe7 du4w35lb d2edcug0 ph5uu5jm b3onmgus ihqw7lf3 ecm0bbzt on77hlbc"
        ></div>
      </div>
    </div>
  </div>
</nav>
