<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->


    <!-- Topbar Navbar -->

    <td><img src="assets/images/banner_home.jpg" alt="enseignement superieur" width="1000" height="70"></td>
        <!-- Nav Item - Search Dropdown (Visible Only XS) -->

            <!-- Dropdown - Messages -->


        <!-- Nav Item - Alerts -->


        <!-- Nav Item - User Information -->

                  <button type="button" class="btn btn-outline-info" [routerLink]="['/login']" >Déconnecter</button>


            <!-- Dropdown - User Information -->


</nav>
